
.react-calendar__tile--active{
    background: #0ca64e !important;
    color: white !important;
    border-radius: 10%;
    height: 50%;
 
}

.react-calendar__month-view__days__day--weekend {
    color: #000000;
}