.flex-container {
  display: flex;
  flex: 12;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
    order: 0;
    flex: 10;
 
    font-weight: bold;
   
}

.edit-icon{   
    order: 1;
    flex: 1;
    color: #7B7E7F;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.1s;

}

.edit-icon:hover{   

    color: #04a282;


}

.trash-icon{
    order: 1;
    color: #7B7E7F;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.1s;
}
.trash-icon:hover{
    color: #d03333;

}

.date{
  
    font-size: 0.9rem;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 1.0rem;
 
}

.entry {
    border-radius: 8px;
    padding: 1rem;
    transition: 0.1s;
}

.entry:hover {
    background-color: #f1f1f1;
    border-radius: 8px;
    cursor: pointer;
}

.entry hr {
    color: #7B7E7F;

}