.no-entries{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2rem;
    color: #818181;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    line-height: 1.125em;

}