
.back-button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background-color: #0ca64e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .back-button-icon {
    font-size: 1.2rem;
    color: #ffffff;
   
  }