@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  margin: 0;
  background-image: url("./assets/images/background.png");
  background-size: 2500px;

}

